.head {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
}

.start_me {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
}

.n_text {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
}

.bottom_btns {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

body {
    background-color: #333333 !important;
    color: aqua !important;
}

.carHelper {
    bottom: 50px;
    position: fixed !important;
    top: 15px;
    left: 0px;
    right: 0px;
    overflow-y: scroll;
}

.centerDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -58%);
}

.prev_btn {
    position: fixed;
    bottom: 30px;
    background-color: #33333300;
    border: 0px;
    left: 25px;
}

.next_btn {
    position: fixed;
    right: 25px;
    bottom: 30px;
    background-color: #33333300;
    border: 0px;

}

.carousel-indicators {
    position: fixed !important;
    right: 0 !important;
    transform: translate(-50%, 0px);
    bottom: 50px !important;
    left: 50% !important;
    z-index: 2 !important;
    display: flex !important;
    justify-content: center !important;
    padding: 0 !important;
    padding: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    list-style: none !important;
}